.footer-main{
    padding: 45px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}
.footer-text{
    opacity: 70%;
    font-size: 18px;
}
.footer-lists li{
    text-decoration: none !important;
    list-style: none;
    outline: none;
    opacity: 70%;
    line-height: 2rem;
}
.footer-lists li:hover{
    color: rgb(46, 3, 3);
}
.footer-icons{
    display: flex;
    gap: 1.2rem;
    font-size: 1.3rem;
    color: gray;
}
.footer-icons i:hover{
    color: black;
}
.footer-finish{
 text-align: center;
 line-height: 3rem;
 opacity: 70%;
}